.sapMShellBrandingBar {
    height: 0px;
}

.sapMPageHeader::before {
    border-top-width: 0rem;
}

.center-control {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overviewNameLink {
    font-size: 16px;
}

.titleText {
	font-size : 48px;
}

.navTitleText {
    font-family: "72-Web", Arial, Helvetica, sans-serif; 
    font-size: 18px;
}

